ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111 ;
  color: white;
}

header {
  background-color: white;
  color: black
}

main {
  background-color: white;
}

body {
    background-color: white;
    font-family:  "Cascadia code", monospace;
    color: black;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: white;

}

div.gallery-item {
  margin: 10px;
  /* border: 1px solid #ccc; */
  /* width: 180px; */
}

p {
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    color: black;
    text-align: center;

}



